<h1>Edit Article</h1>

<%= form_with model: @article, url: article_path(@article), method: :patch do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :writer_name %><br>
    <%= form.text_area :writer_name %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit "Update" %>
  </div>
<% end %> 

<div>
    <%= link_to "Back to articles", articles_path %>
</div>
